extends siteLayout
include mixins/accessoryDisplay

block content
  .row
    .col
      .d-flex.flex-row.justify-content-center
        h1 Accessories
  .row
    if accessoryList.length > 0
      each accessory in accessoryList
        +accessoryDisplay(accessory)
    else
      p There are no accessories.
        a(href="/accessories/new") You should add one!